*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    background-color: rgb(245, 245, 245);
}
.col-md-3{
    border: 1px solid rgb(182, 181, 181);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.set{
    display: flex;
    align-items: center;
    gap: 20px;
}
.set h1{
    background-color: rgb(67, 204, 106);
    color: #fff;
    padding: 3px 20px;
    border-radius: 20px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 400;
}
.set .span{
    background-color: rgb(217, 217, 217);
    padding: 3px 8px;
    border-radius: 50%;
    color: rgb(140, 140, 140);
}
.set2{
    display: flex;
    gap: 10px;
}
.set2 .span{
    color: rgb(140, 140, 140);
}
.set2 h1{
    color: rgb(92, 92, 92);
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 400;
}
.set3{
    display: flex;
    /* align-items: center; */
    gap: 20px;
}
.set3 span{
    color: rgb(140, 140, 140);
}
.set3 h1{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
}
.set4{
    display: flex;
    align-items: center;
    gap: 20px;
}
.set4 span{
    color: rgb(140, 140, 140);
}
.set4 h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
}
.set5{
    display: flex;
    gap: 10px;
}
.set5 span{
    color: rgb(140, 140, 140);
}
.set5 h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}
.set5 .box{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(2, 224, 224);
}
.set5 p{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
}
.set6{
    display: flex;
    gap: 10px;
}
.set6 span{
    color: rgb(140, 140, 140);
}
.set6 h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}
h3{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(140, 140, 140);
}
.set7{
    display: flex;
    gap: 5px;
}
.set7 h2{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
}
.set7 p{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
}
.set8{
    display: flex;
    flex-direction: column;
}
.set8 h1{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(140, 140, 140);
}
.set8 h2{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}
.set9 h1{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(140, 140, 140);
}
.set9 h2{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}
.row:hover{
    box-shadow: 0px 5px 10px 5px rgba(47, 47, 47, 0.6);
}

.card-header h1{
    font-size: 24px;
    text-align: center;
}
.card-body .blog{
    display: flex;
    justify-content: space-between;
}
.card-body h1{
    font-size: 20px;
    /* text-align: center; */
}
.line{
    width: 100%;
    height: 0px;
    border: 1px solid rgb(201, 199, 199);
}
.card-footer span{
    display: flex;
    justify-content: space-around;
    
}
.card-footer span .dollor{
    background-color: rgb(61, 0, 184);
    color: #fff;
    padding: 3px 10px;
    border-radius: 50%;
}
.card-footer span .eye{
    background-color: rgb(42, 139, 68);
    color: #fff;
    padding: 3px 8px;
    border-radius: 50%;
}
.card-footer span .pen{
    background-color: rgb(243, 184, 47);
    color: rgb(44, 90, 255);
    padding: 3px 10px;
    border-radius: 50%;
}
.card-footer span .x{
    background-color: crimson;
    color: #fff;
    padding: 3px 10px;
    border-radius: 50%;
}
.row{
    /* opacity: 0.5; */
}
h5{
    margin: 100px 80px 50px 80px;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 700;
}
.col-md-12 p{
    color: #fff;
}